*{
  
    margin: 0;
    padding: 0;
  
  

}
button{
    background: #f1d717;
}
#nav{
    height: 60px;
    background: #000;
}
#logo{
    color: #f1d717;
    font-size: 25px
}
a{
    margin-right: 200px;
    text-decoration: none;
}
.contentBox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
#content{
    height: 720px;
}
footer{
    background-color: #0f1111;
    color:white ;
    text-align: center;
}